{% extends "base.twig" %}
{% block title %} Inicio {% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {# Slider #}
    {% include 'includes/slider.twig' %}
    {# Header #}
    {% include 'includes/header.twig' %}
{# Cuerpo General #}
 <!--Main layout-->
<main>
<div class="container-fluid">
    <div class="row pt-4">
        {% include 'body/primera_columna.twig' %}
        <!--columnn Central-->
        <div class="col-sm-6 col-lg-6">
            <!--Card-->
            <div class="card wow fadeIn" data-wow-delay="0.4s">
                <div class="card-header text-center text-white">
                    Noticias del día:
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Text-->
                    <p class="card-text card-body-title color-fentap1 font-weight-bold">En 30% sube desperdicio de agua en verano por jardines y uso de piscinas.</p>
                    <div class="row">
                        <div class="col-sm-5">
                            <img class="w-100" src="{{IMAGE}}fentap/inicio/noticia.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <div class="d-flex pb-2">
                                <div class="mr-auto"> <span style="font-size:12px;" class="font-weight-light">Autor : Ancaor</span></div>
                                <div> <span class="font-weight-light" style="font-size:12px;">Fecha : 19/02/2018 </span> </div>
                            </div>
                            <p>
                                La EPS Grau distribuye cerca de 6 millones de litros cúbicos de agua potable por día, pero durante el verano, un 30% de esta se desperdicia, lo que impide que otras personas la utilicen.  <a class="btn btn-primary btn-sm px-2" style="padding-bottom:2px;padding-top:2px;" href="{{ hidro_notice.enlace }}">Leer noticia completa</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Card-->
            <div id="world-map" class="mapa-general mx-auto mt-4"></div>
        </div>
        {% include 'body/segunda_columna.twig' %}
    </div>
</div>
<!--/.Main layout-->
</main>

{% endblock %}
{% block script %}
{% endblock %}
