    <!-- page content -->
    <div class="right_col" role="main">
      <!-- Header Pages -->
      <div class="header-pages"> 
	      <div class="col-md-12 col-sm-12 col-xs-12">
	      <!-- <h2> <?php print_r($datos['datos']) ?> </h2> -->   
	      <!-- x panel -->
        <div class="x_panel">
          <div class=" row x_title">
              <div class="col-md-8 col-xs-12">  
              <h2 class="h2-none" style="width:100%;"><span class="fa fa-pencil"></span> Editar Página : <?=$datos['datos'][0]['title_Page']?> </h2>
              </div>
              <div class="col-md-4" style="text-align:right;">
                
                <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
              </div>        
          </div>
          <!-- x content-->
          <div class="x_content" style="display: none"> 
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                {% include 'panel/forms/page.twig' %}
              </div>
          </div>
          <!-- x content -->
        </div> 
        <!-- x panel -->
        <!-- x panel -->
        <div class="x_panel">
          <div class=" row x_title">
              <div class="col-md-8 col-xs-12">  
              <h2 class="h2-none" style="width:100%;"><span class="fa fa-pencil-square-o"></span> Editar Contenido de la Página :<?=$datos['datos'][0]['title_Page']?> </h2>
              </div>
              <div class="col-md-4" style="text-align:right;">
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </div>        
          </div>
          <!-- x content-->
          <div class="x_content"> 
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <div id="summer_page">
                           
                </div>
              </div>
              <div class="col-xs-12 col-md-8 col-sm-12 col-lg-12">
                <a href="#" class="btn btn-primary btn-lg btn-block">Publicar</a>
              </div>
          </div>
          <!-- x content -->
        </div> 
        <!-- x panel -->
	      </div>
	     <div class="" style="clear: both"></div>
      </div>
		  <!-- /header pages -->
    </div>
    <!-- /page content -->