#text-frase{
font-size: 24px;
color: rgb(255, 49, 49);
font-weight: bolder;
    text-shadow:
   -0.9px -0.9px 0 #fff,
    0.9px -0.9px 0 #fff,
   -0.9px 0.9px 0 #fff,
    0.9px 0.9px 0 #fff;
}
#text-frase>a{
font-size:  24px;
color:  rgba(255, 49, 49,.9);
font-weight: inherit;

}