 <hr>
<!-- footer content -->
<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<div class="p-4 w-75 m-auto">
					<script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=51lh4pa78xp&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=verdana&amp;l=0" async="async"></script>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card wow fadeIn" data-wow-delay="0.4s">
	                <div class="card-header bg-fentap3 text-center text-white">
	                    <!--Title-->
	                   Organizaciones amigas
	                </div>
	                <!--Card content-->
	                <div class="card-body p-0 row">
						<div class="col-sm-3">
							<img class="w-100" src="{{IMAGE}}fentap/inner/1.jpg" alt="">
						</div>
						<div class="col-sm-3">
							<img class="w-100 pt-2" src="{{IMAGE}}fentap/inner/2.png" alt="">
						</div>
						<div class="col-sm-3">
							<img class="w-75" src="{{IMAGE}}fentap/inner/3.png" alt="">
						</div>
	                </div>
           		</div>
			</div>
			<div class="col-sm-3">
				<div class="card wow fadeIn" data-wow-delay="0.4s">
	                <div class="card-header bg-fentap3 text-center text-white">
	                    <!--Title-->
	                   Instituciones
	                </div>
	                <!--Card content-->
	                <div class="card-body p-0">
						<ul class="list-group w-100 color-fentap2">
							  <li class="list-group-item py-1">Enlace institución</li>
							  <li class="list-group-item py-1">Enlace institución</li>
							  <li class="list-group-item py-1">Enlace institución</li>
							  <li class="list-group-item py-1">Enlace institución</li>
							  <li class="list-group-item py-1">Enlace institución</li>
						</ul>            
	                </div>
           		</div>
			</div>
		</div>
	</div>
</footer>
	<div class="footer-post">
		<div class="footer-post-info1 d-flex pb-2">
            <div class="mr-auto align-self-center"> 
            		<span style="font-size:12px;"  style="align-items: center;justify-content: center;" class="font-weight-light">www.fentap.org.pe </span>
            </div>
            <div class="cont-icon-redes">
            	<span class="pr-4">Nuestras redes sociales:</span>
				<a class="icon-item-redes"><i class="icon-twitter-1"></i></a>
            	<a class="icon-item-redes"><i class="icon-blogger"></i></a>
				<a class="icon-item-redes"><i class="icon-facebook"></i></a>
            </div>
        </div>
		<hr class="separador-footer">
		<div class="row">
			<div class="cont-item col-md-4">
				<span class="icon-item"><i class="icon-mail-1"> </i></span>
				<span class="title-item">Mail</span>
				<span class="val-item"> coordinacionfentap@gmail.com  </span>
			</div>
			<div class="cont-item col-md-4">
				<span class="icon-item"><i class="icon-phone"> </i></span>
				<span class="title-item">Telefax</span>
				<span class="val-item"> 424-8080  </span>
			</div>
			<div class="cont-item col-md-4">
				<span class="icon-item"><i class="icon-location"> </i></span>
				<span class="title-item">Direcci&oacute;n</span>
				<span class="val-item"> Jr. Iquique N°061 Breña  </span>
			</div>
{# 			<div class="col-md-4">
				
			</div> #}
		</div>
		<hr class="separador-footer">
		<span class="footer-frase">"Defender el agua es defender la vida"</span>
	</div>
<!-- /footer content -->