 <hr>
<!-- footer content -->
<footer class="footer-segeta">
	<div class="container">
        <!--Call to action-->
        <div class="call-to-action">
            <h5 class="mb-5 pt-2 mt-2">Segeta Corp. (2017)</h5>
        </div>
        <!--/.Call to action-->	
	</div>
</footer>
<!-- /footer content -->