<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(26, 57, 132)!important;">
  <a class="navbar-brand" href="#">
    <!-- <img src="{{R_IMAGE}}/logoS.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
    Fentap
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto justify-content-end">
      <!-- Active -->
      <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Quienes Somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Estructura</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Publicaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Galeria</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="nosotros">Normas</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Escriba lo que desea buscar" aria-label="Search">
      <button class="btn my-2 my-sm-0 bg-fentap1" type="submit">Buscar</button>
    </form>
  </div>
</nav>

